/*在元素属性中设置class=“backendColor textColor”即可应用多种样式.
* 应用多个样式的时候遵循css优先级，与属性中填写的先后顺序无关
*/
.backendColor {
    color: red;
    background-color: antiquewhite;
}

.textColor {
    color: aqua;
}
/*插入的内容会应用已经设置的样式*/
.content::after {
    content: "123";
}