.box {
    background-color: rgb(218, 190, 7);
    border: 1px solid;
    display: block;
}
.b {
    background-color: rgb(16, 244, 16);
    background-image: url(https://www1.plurib.us/1shot/2008/circle_design/circles_single.svg);
    background-size:cover;
    background-position: top center;
    background-attachment:fixed;
    transform: rotate(0.5turn);
    word-break: break-all;
    overflow-wrap:break-word;
}
.a {
    background-color: aliceblue;
}
.wrapper {
    border: 1px solid;
}

